.header {
    padding-top: 32px;
    padding-bottom: 16px;
    box-shadow: 0 3px 6px 0 rgba(0, 7, 93, 0.16);
    background-color: #ffffff;
}
.wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.list li {
    padding: 0 16px;
}

.logo {
    background-color: #0093ff;
    font-family: Pacifico;
    font-size: 28px;
    line-height: 1.75;
    padding: 0 12px;
    color: white;
    border-radius: 18px 0 18px 18px;
}

.search {
    display: flex;
}
